.a{
  width:400px;
  height:100px;
  background-color: #141f40;
  position: relative;
}

.b{
  width:150px;
  height:250px;
  background-color: #80bfa8;
}

.c{
  width:150px;
  height:50px;
  background-color: #dbd400;
}

.d{
  width:150px;
  height:100px;
  background-color: #0093b7;
}

.e{
  width:100px;
  height:150px;
  background-color: #ff9e6b;
}

.f{
  width:250px;
  height:100px;
  background-color: #8c2727;
  position: absolute;
  top:250px;
  left:150px;
}

.g{
  width:400px;
  height:100px;
  background-color: #d98d30;
}

.wrapper{
  display: flex;
}

.wrapper2{
  display: block;
}

.wrapper3{
  display: block;
}